# repo-sync.yml
name: sync

on:
  schedule:
  - cron:  "0 */2 * * *"
  workflow_dispatch:

jobs:
  repo-sync:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
      with:
        persist-credentials: false
    - name: GitHub Repo Sync
      uses: repo-sync/github-sync@v2.3.0
      with:
        source_repo: "https://github.com/hzys/HiCnUnicom.git"
        source_branch: "master"
        destination_branch: "master"
        #github_token: ${{ secrets.PAT }}
